use flake
eval "$shellHook"

VIRTUAL_ENV_PATH="${PWD}/.direnv/.venv"
VIRTUAL_ENV_INSTALL_MARKER="${PWD}/.direnv/venv_install"

if [[ ! -e "${VIRTUAL_ENV_INSTALL_MARKER}" ]]; then
    rm -rf "${VIRTUAL_ENV_PATH}"
    python -m venv "${VIRTUAL_ENV_PATH}"
    touch "${VIRTUAL_ENV_INSTALL_MARKER}"
fi

source "${VIRTUAL_ENV_PATH}/bin/activate"

PIP_REQUIREMENTS_HASH=`cat requirements.txt | md5sum | cut -f 1 -d " "`
PIP_INSTALL_MARKER="${PWD}/.direnv/pip-install-${PIP_REQUIREMENTS_HASH}"

if [[ ! -e "${PIP_INSTALL_MARKER}" ]]; then
    pip install -r requirements.txt
    touch "${PIP_INSTALL_MARKER}"
fi

